.Wrapper {
  /* height: 600px; */
  /* background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  padding: 60px 0;
}
.Proimg {
  width: 100%;
}

@media screen and (max-width: 991px) {
}
