* {
  font-family: JosefinSans;
  font-weight: 500;
}

.MainPara {
  color: #ffffff;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
}
.buttonwrap {
  width: 100%;
  text-decoration: none;
}
.resumeButton {
  border-radius: 30px;
  padding: 10px 30px;
  color: #111111;
  font-weight: 500;
  font-size: 24px;
  position: relative;
  display: block;
  transition: all 200ms ease-in-out;
  background-color: #ff5c00;
  top: 20px;
  left: -2px;
}
.resumeButton::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #ff5c00;
  z-index: -1;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}
.resumeButton:hover::after {
  top: 0px;
  left: 0px;
}
.SectionHead {
  font-size: clamp(38px, 6.5vw, 42px);
  font-weight: 600;
  margin-bottom: 20px;
}
.ExperienceSectionDiv {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  color: #c8c6c3 !important;
}
.ExperienceSectionWrapper {
  display: flex;
  position: relative;
  gap: 40px;
}

.ExperienceSectionItemsWrapper {
  border-left: 2px solid #e15421;
  width: 80%;
}
.ExperienceSectionItem {
  position: relative;
  padding: 20px 20px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ExperienceSectionCompany {
  font-size: 32px;
}
.ExperienceSectionPosition {
  font-size: 24px;
}
.ExperienceSectionDes {
  font-size: 18px;
}
.ExperienceSectionImage {
  width: 30px;
  height: auto;
  position: absolute;
  top: 20px;
  left: -15px;
}
.ExperienceSectionRelativeImage {
  align-self: stretch;
  max-height: 100dvh;
  position: sticky;
  top: 100px;
  filter: grayscale(1);
}
.ExperienceSectionRelativeImage:hover {
  filter: grayscale(0);
}
.techDiv {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  color: #c8c6c3;
}
.techWrapper {
  display: flex;
  gap: 30px;
}
.techItem {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 2px solid #e15421;
  position: relative;
  background-color: #111111;
}
.techItem::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #ff5c00;
  z-index: -1;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}
.techItem:hover::after {
  top: 0px;
  left: 0px;
}
.techItem > h1 {
  font-size: 28px;
}
.techItem:hover {
  background-color: #e15421;
  color: #fff;
}
.techItem > ul {
  list-style: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.techItem > ul > li {
  display: flex;
  gap: 20px;
}
.techItem > ul > li > span {
  font-size: 18px;
  font-weight: 500px;
}

@media screen and (max-width: 991px) {
}
@media screen and (max-width: 768px) {
  .wrapper1 {
    margin: 60px auto;
  }
  .ExperienceSectionItemsWrapper {
    width: 100%;
  }
  .ExperienceSectionRelativeImage {
    display: none;
  }
  .contactDiv {
    flex-direction: column;
  }
  .techWrapper {
    flex-direction: column;
  }
  .techItem {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
}
