.wrapper {
  display: flex;
  padding: 30px 0px;
  position: relative;
}
.deskwrapper {
  display: none;
  /* change display to flex if you want to show navbar items */
  width: 100%;
}
.link {
  display: flex;
  align-items: center;
  z-index: 3;
}
.link > img {
  height: 35px;
  width: auto;
}
.list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: auto;
}
li a {
  color: #abb2bf;
  text-decoration: none;
}
.listspan {
  color: #c778dd;
}
.icon {
  display: none;
  margin-left: auto;
  z-index: 3;
}
.icon > img {
  filter: invert(1);
  width: 20px;
  height: auto;
}
.mobList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  margin-left: auto;
}
.mobileWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 100px 50px 50px 50px;
  background-color: #282c33;
  z-index: 2;
}
.mobList > li {
  border-bottom: 1px solid #c778dd42;
  padding-bottom: 15px;
}
.mobList > li:last-child {
  border-bottom: 0px;
}
.socialwrapper {
  margin-top: 20px;
}
.socialwrapper2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  /* .icon {
    display: block;
  } */
  .deskwrapper {
    display: none;
  }
}
