.active {
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #b10402;
  height: 2px;
  width: 100%;
}
.cursor-style {
  border: 5px solid #ffffff;
  /* background-color: ; */
  mix-blend-mode: difference;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 100%;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
  z-index: 199;
}
@media screen and (max-width: 768px) {
  .cursor-style {
    display: none;
  }
}
